.navbar {
  height: 55px;
  box-shadow: 0 3px 6px $shadow-color;
  background-color: $background-color;
  color: $text-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 998;

  .logo {
    font-size: 1.5em;
    font-weight: bolder;
    color: $primary-color;
    text-shadow: 0 1px 3px $shadow-color;

    span {
      color: $text-color;
    }
  }

  .nav-links {
    a {
      margin-left: 1em;
      color: $text-light;
      letter-spacing: 2px;
      text-transform: uppercase;
      position: relative;
      font-size: 0.9em;

      &::before {
        content: '';
        display: inline-block;
        height: 3px;
        width: 100%;
        background-color: $primary-color;
        position: absolute;
        bottom: -5px;
        left: 0;
        transform: scaleX(0);
        transition: transform calc($animation-speed * 0.2s) ease-in-out;
      }

      &:hover {
        &::before {
          transform: scaleX(1);
        }
      }

      &.active {
        color: $primary-color;
        font-weight: bold;
      }
    }
  }
}
